cycler==0.10.0
decorator==4.4.2
h5py==2.10.0
joblib==0.16.0
Keras==2.4.3
kiwisolver==1.2.0
llvmlite==0.33.0
matplotlib==3.3.0
networkx==2.4
numba==0.50.1
numpy==1.19.1
pandas==1.0.5
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.23.1
scipy==1.5.2
six==1.15.0
threadpoolctl==2.1.0
tqdm==4.48.0
xgboost==1.1.1
